@use '../../assets/styles/variables' as *;

/* classes: btn btn-sec btn-thr btn-big btn-contr */ 

.btn {
  cursor: pointer;
  background-color: $bg-btn-prm;

  text-transform: uppercase;
  font-size: $text-sm;
  font-family: $font-link;
  font-weight: 700;
  color: $blanche;

  border: none;
  border-radius: 5px;

  padding: .25rem 1rem;

  transition: linear .2s background-color, linear .2s color;
  
  &:hover {
    background-color: $bg-btn-prm-hover;
  }

  &:focus {
    outline: none;
  }

  &_sec {
    background: $bg-btn-sec;
    color: $color-btn-sec;

    padding: .125rem .625rem;

    border: 3px solid $color-btn-sec;

    &:hover {
      background-color: $bg-btn-sec-hover;
      color: $color-btn-sec-hover;
    }
  }

  &_thr {
    text-decoration: underline;
    background: $bg-btn-sec;
    color: $color-btn-sec;

    &:hover {
      color: $color-navlink-hover;
      background-color: transparent;
    }
  }

  &_big {
    font-size: $text-md;
    padding: .5rem 2rem;
  }

  &_contr {
    background-color: $bg-navbar;

    &:hover {
      background-color: lighten($bg-navbar, 20%);
    }

    &.btn_sec {
      background-color: inherit;
      border-color: $bg-navbar;
      color: $bg-navbar;

      &.btn_big {
        padding: .3125rem 1.8125rem;
      }

      &:hover {
        background-color: $bg-navbar;
        color: $color-btn-sec-hover;
      }
    }

    &.btn_thr {
      text-decoration: underline;
      background-color: inherit;
      color: $bg-navbar;

      &:hover {
        color: $color-navlink-hover;
      }
    }
  }
}