@use '../../assets/styles/variables'as *;

.carousel-item {
  position: relative;

  &__title {
    position: absolute;
    left: 60%;
    transform: translate3d(-10%, -20%, 0);
    z-index: 2;
  }

  &__img {
    max-width: 55vh !important;
    width: 100%;
    z-index: 3;
  }
}