@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300;400;700&family=Inria+Sans:ital,wght@0,400;0,700;1,300&family=Inter:wght@300;700&family=Karantina:wght@300;400;700&display=swap');


//////////////////////////////////////
//              COLORS              //
//////////////////////////////////////

$noir:                  #000;
$blanche:               #fff;

$xiketic:               #0c0c16;
$crimson-ua:            #950f2b;
$flax:                  #eadb7c;
$carolina-blue:         #4ba0d4;
// $new-york-pink:         #de8682ff;
// $mauve-taupe:           #8d5c72ff;
// $space-cadet:           #1b1d3eff;

     // BG
$bg-body:               $xiketic;
$bg-navbar:             $crimson-ua;
$bg-card:               $crimson-ua;
$bg-btn-prm:            $carolina-blue;
$bg-btn-prm-hover:      darken($carolina-blue, 20%);
$bg-btn-sec:            transparent;
$bg-btn-sec-hover:      $carolina-blue;

    // FONTS
$color-suptitle:        $flax;
$color-title:           $flax;
$color-text:            $blanche;
$color-text-dark:       $xiketic;

        // Nav-link
$color-navlink:         $blanche;
$color-navlink-hover:   $flax;
        // Btn
$color-btn-prm:         $blanche;
$color-btn-sec:         $carolina-blue;
$color-btn-sec-hover:   $blanche;


        // Other




//////////////////////////////////////
//              TEXT                //
//////////////////////////////////////

/*
font-family: 'Alumni Sans', sans-serif;
font-family: 'Inria Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Karantina', cursive;
*/

$font-suptitle:         'Inria Sans', sans-serif;
$font-title:            'Karantina', cursive;
$font-text:             'Alumni Sans', sans-serif;
$font-link:             'Inter', sans-serif;

    // SIZE
$font-size-base:        16px;    // 1rem
        // Titles
$text-xl:               8rem;    // 128px 
$text-lg:               4rem;    // 64px
$text-md:               2rem;    // 32px
$text-sm:               1rem;    // 16px
$text-xs:               .75rem;  // 12px

//////////////////////////////////////
//           SCREEN SIZE            //
//////////////////////////////////////

        // Extra small screen / phone
$screen-xs:             480px;
$screen-xs-min:         $screen-xs;             // 480px
$screen-phone:          $screen-xs-min;         // 480px
// $screen-xs-max:         $screen-sm-min - 1;   // 767px
        // Small screen / tablet
$screen-sm:             768px;
$screen-sm-min:         $screen-sm;             // 768px
$screen-tablet:         $screen-sm-min;         // 768px
// $screen-sm-max:         ($screen-md-min - 1);   // 991px
        // Medium screen / desktop
$screen-md:             992px;
$screen-md-min:         $screen-md;             // 992px
$screen-desktop:        $screen-md-min;         // 992px
// $screen-md-max:         ($screen-lg-min - 1);   // 1199px
        // Large screen / wide desktop
$screen-lg:             1200px;
$screen-lg-min:         $screen-lg;             // 1200px
// $screen-desktop:        $screen-lg-min;         // 1200px