@use '../../assets/styles/variables' as *;

.header {
  position: relative;
  height: 100vh;

  z-index: -1;

  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    object-fit: cover;

    &#header {
      &-bg {
        top: -1%;
        height: 50vh;
      }
      &-third {
        bottom: 22%;
        height: 44vh;
      }
      &-second {
        bottom: 15%;
        height: 44vh;
      }
      &-first {
        bottom: 0%;
        height: 44vh;
      }
      &-front {
        bottom: 0;
        height: 44vh;
      }
    }
  }
}