.header {
  position: relative;
  height: 100vh;

  overflow: hidden;

  .parallax {
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 44vh;
    width: 100%;

    position: fixed;
    z-index: -1;
  }

  #header {
    &-bg {
      background-image: url('../../assets/images/header/back2.png');
      top: -1%;
      height: 65vh;
    }

    &-third {
      background-image: url('../../assets/images/header/third.png');
      bottom: 22%;
    }

    &-second {
      background-image: url('../../assets/images/header/second.png');
      bottom: 15%;
    }

    &-first {
      background-image: url('../../assets/images/header/first.png');
      bottom: 0%;
    }

    &-front {
      background-image: url('../../assets/images/header/front.png');
      position: absolute;
      bottom: 0%;
    }
  }
}