@use '../../assets/styles/variables' as *;

.footer {
  padding: 4rem 2rem 1rem;
  margin: 0 auto;
  text-align: center;

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
        
    &__text {
      color: $color-title;

      margin-right: .5rem;
    }

    &__link {
      color: $crimson-ua;
      font-size: $text-md;
      font-weight: 300;

      transition: color .2s  linear;

      @media (max-width: $screen-lg) {
        font-size: calc($text-md - .5rem);
      }
      @media (max-width: $screen-md) {
        font-size: calc($text-md - .725rem);
      }

      &:hover {
        color: $color-navlink-hover;
      }
    }
  }
}