@use '../../assets/styles/variables'as *;

.sign {
  padding: 8rem 0;
  text-align: center;
  background-color: $bg-body;

  overflow: hidden;

  @media (max-width: $screen-md) {
    padding: 2rem 0;
  }

  &-content {
    padding: 4rem 0;
    background-image: url('../../assets/images/sign/triangle.svg'), url('../../assets/images/sign/ligne.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    opacity: 0;

    @media (max-width: $screen-md) {
      padding: 2rem 0;
    }

    &__title {
      
      margin-bottom: 3rem;

      &::after {
        display: block;
        content: "";
        width: 30%;
        height: 3px;
        background-color: $color-arrow;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}